#zoom-in-button {
    top: 9%;
    left: 10%;
}

#zoom-out-button {
    top: 25%;
    left: 10%;
}

.zoom-button {
    position: absolute;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
    background-color: rgba(95, 177, 86, 0.8);
    border: 5px solid rgb(255, 255, 255);
    border-radius: 0px;
    padding: 10px 20px;
    cursor: pointer;
    /* box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb; */
    font-size: 40px;
    padding-bottom: 15px;
}

#form-box-image {
    width: auto; 
    height: auto;
}

#map-box {
    position: relative;
    width: 1000px;
    height: 768;
    border: 5px solid black;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-left: auto;
    padding-right: auto;
    background-color: black;
}

#background {
    background-color: rgb(13, 94, 27);
}

body {
    background-image: url("../Images/runescape-background.jpg");
    background-size: 450;
}